# History files 
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user

# Connection that stores calls to search.ergmTerms
NUL


#shinyapps files
shinyapps/
inst/shiny/rsconnect
inst/shiny/statnetWeb/rsconnect/

.DS_Store

# CRAN submission
CRAN-SUBMISSION
