# History files 
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
*.Rproj

# Connection that stores calls to search.ergmTerms
NUL


#shinyapps files
shinyapps/
inst/shiny/rsconnect

.DS_Store