
.navbar .navbar-brand{ padding: 0 12px;font-size: 16px;line-height: 40px; }
.navbar-nav > li > a {padding-top: 0; padding-bottom: 0; line-height: 40px; height: 40px;}
.navbar {min-height:40px; height:40px;}

#sttitle {
  font-family:Courier;
  font-size:12pt;
}
code {
  color: #333333;
  background-color: #EBEBEB;
}
#linkbox1,
#linkbox2 {
  display: none;
}

#linktitle1,
#linktitle2 {
  cursor: pointer;
}
#dataleft, #fitleft,
#plotleft {
  position: absolute;
  top: 50px;
  right: 65px;
  color: #B4B4B4;
  cursor: pointer;
}
#dataright, #fitright,
#plotright {
  position: absolute;
  top: 50px;
  right: 38px;
  color: #B4B4B4;
  cursor: pointer;
}

#dataleft:hover, #fitleft:hover,
#plotleft:hover, #dataright:hover,
#fitright:hover, #plotright:hover,
.helper-btn:hover {
  color: #3A3A3A;
}
.helper-btn:hover + .helper-box {
  display: block;
}
.helper-btn {
    position:fixed;
    top: 50px;
    right: 10px;
    color: #B4B4B4;
    cursor: pointer;
}
div.helper-box {
  position:fixed;
  top: 90px;
  right: 20px;
  max-width: 150px;
  max-height: 300px;
  display:none;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border:1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}
.helper {
  cursor:pointer;
}

div.smallhelperbox {
  position:absolute;
  z-index: 10;
  display: none;
  width: 200px;
  height: 100px;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

div.mischelperbox {
  position: absolute;
  z-index: 10;
  display: none;
  max-width: 400px;
  max-height: 300px;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

.ndtv-d3-container {
  border: none;
}
pre {
  font-size:12px;
}
.form-group {
  margin-bottom: 5px;
}
.shiny-input-container:not {
  width:150px;
  margin:0;
}
div.tool {
  display:inline;
}

div.tool .tip {
    z-index:10;
    display:none;
    padding:2px 3px;
    margin-top:8px;
    margin-left:5px;
    font-size:12px;
    max-width:300px;
}
#statstip {
  margin-top:60px;
}

div.busy {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display: none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  z-index: 50;
}

#aboutButton,
#citeButton,
#startButton {
  margin-bottom: 5px;
  width: 137px;
}

#citebox {
  display: none;
}
#legendbox{
  position: absolute;
  height: 250px;
  width: 100px;
  bottom: 100px;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
}
#nwnum {
  position: absolute;
  visibility: hidden;
  z-index: -10;
}
#chooseterm {
  display:inline;
}
#listofterms{
  display:inline;
  width:150px;
}
#matchingorall {
  margin-bottom:2px;
  margin-left:2px;
}
div.placeholder {
  height:150px;
  position:relative;
}
#termdoc {
  background:#FFFFFF;
  border:none;
  padding:10px;
}
#termdocbox {
  position:absolute;
  right:0;
  left:15px;
  margin-right:10px;
  max-height:55px;
  border: 1px solid #CECED8;
  border-radius: 5px;
  overflow:scroll;
  z-index:9;
}
#termexpand {
  position:absolute;
  right:20px;
  width:30px;
  height:20px;
  margin-top:10px;
  color: #A5A5AD;
  z-index:10;
}
#termexpand:hover {
  color: #737379;
}

.xscroll pre {
  overflow-x: scroll;
  word-wrap: normal;
}
#dissterms .shiny-input-container {
  width: 100%;
}
.skinny .form-control,
.skinny .shiny-input-container{
  display: inline;
}
.skinny input {
  max-width: 75px;
}

.round {
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 5px 10px;
}
.btn-primary {
  color: #ffffff;
  background-color: #076EC3;
  border-color: #06589C;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #054D88;
  border-color: #02213A;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control,
input[disabled] {
  cursor: not-allowed;
  background-color: #e6e6e6;
  opacity: 1;
}
.navbar-default {
  background-color: #3A3A3A;
  border-color: #121212;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #4E4E4E;
  text-shadow: 1px 1px #222222;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #4E4E4E;
  text-shadow: 1px 1px #222222;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4E4E4E;
  text-shadow: 1px 1px #222222;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #121212;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #4E4E4E;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #222222;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #222222;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.navbar-default .btn-link {
  color: #ffffff;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #ffffff;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
}