
#sWtitle {
  font-family:Courier;
  font-size:14pt;
}
.form-group {
  margin-bottom: 5px;
}
.shiny-input-container:not {
  width:150px;
  margin:0px;
}
div.tool {
  display:inline;
}

div.tool span.tip {
    z-index:10;
    display:none; 
    padding:2px 3px;
    margin-top:40px; 
    margin-left:5px;
    font-size:12px;
    max-width:300px;
}
#statstip,
#controltip,
#controltip2 {
  margin-top:60px;
}
div.tool:hover span.tip{
  display:inline; 
  position:absolute; 
  color:#333333;
  border:1px solid #CCCCCC; 
  border-radius:3px;
  background:#FFFFFF;
  box-shadow: 3px 2px 5px 0px #CCCCCC;
  }
/*div.tool span.tip::before{
  z-index:20;
  content: "";
  width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
  left: 5%;
	top: -19px;
	border-bottom: 10px solid #CCCCCC;
} */
div.tool .callout {
  display:none;
}
div.tool:hover .callout {
  display:inline;
  z-index: 20;
  position: absolute;
  left: 5%;
  top: -13px;
}


#dataleft, #fitleft,
#plotleft, #mcmcleft,
#gofleft, #simleft {
  position: absolute;
  top: 50px;
  right: 65px;
  color: #A5A5AD;
  cursor: pointer; 
}
#dataright, #fitright,
#plotright, #mcmcright,
#gofright, #simright {
  position: absolute;
  top: 50px;
  right: 38px;
  color: #A5A5AD;
  cursor: pointer; 
}

#dataleft:hover, #fitleft:hover,
#plotleft:hover, #mcmcleft:hover,
#gofleft:hover, #simleft:hover,
#dataright:hover, #fitright:hover,
#plotright:hover, #mcmcright:hover,
#gofright:hover, #simright:hover,
.helper-btn:hover {
  color: #737379;
}

div.busy { 
  position:fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  z-index: 50;
}

#swciteButton,
#sciteButton {
  padding: 5px;
  border-radius: 5px;
  border:1px solid #CECED8;
  background: rgb(230, 230, 230);
  cursor: pointer;
}

#swcitation,
#scitation {
  display:none;
  position:absolute;
}

.helper-btn {
    position:fixed;
    top: 50px;
    right: 10px;
    color: #A5A5AD;
    cursor: pointer;
}

div.helper-box { 
  position:fixed;
  top: 90px;
  right: 20px;
  max-width: 150px;
  max-height: 300px;
  display:none;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border:1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

.helper {
  cursor:pointer;
}

div.smallhelperbox {
  position:absolute;
  z-index: 10;
  display:none;
  max-width: 200px;
  max-height: 100px;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border:1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

div.mischelperbox {
  position:absolute;
  z-index: 10;
  display:none;
  max-width: 400px;
  max-height: 300px;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border:1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

#mixmxbox, #graphlevelbox,
#nodelevelbox {
  display:none;
}

#mixmxtitle, #graphleveltitle,
#nodeleveltitle {
  cursor:pointer;
}

.stitle {
  font-size:12px; 
  line-height:26px; 
  margin-top:10px;
}
.snum {
  font-family:Courier;
  font-size:12px;
  line-height:27px; 
  margin-top:10px;
}

#fitButton {
  border-style:groove;
}
#savemodel {
  display:inline;
}

#simButton,
.chromewarning {
  margin-bottom:10px;
}

div .mcmcopt {
  display:inline;
  padding: 2px;
  margin-bottom: 5px;
}
div.form-group.shiny-input-container {
  width=150px;
}
#chooseterm {
  display:inline;
}
#listofterms{
  display:inline;
  width:150px;
}
#matchingorall {
  margin-bottom:2px;
  margin-left:2px;
}
div.placeholder {
  height:110px;
}
#termdoc {
  background:#FFFFFF;
  border:none;
}
#termdocbox {
  position:absolute;
  width: 450px;
  margin-right:10px;
  max-height:65px;
  border: 1px solid #CECED8;
  border-radius: 5px;
  overflow:scroll;
  z-index:9;
}
#termexpand {
  position:absolute;
  right:3px;
  width:30px;
  height:20px;
  color: #A5A5AD;
  z-index:10;
}
#termexpand:hover {
  color: #737379;
}

#uichoosemodel_mcmc,
#uichoosemodel_gof,
#uichoosemodel_sim {
  display:inline;
  padding:4px 6px;
  margin-bottom:5px;
}

.nwlabel {
  margin:0px 0px 10px;
}

#simsummary,
#simstatslabel,
#simsummary2 {
  border-style: none;
  padding: 0px;
  margin: 0px;
}
#infsummary {
  border-style: none;
  padding: 0 0 8 0px;
  margin: 0px;
}
#simcoef,
#simstats,
#simstats2 {
  border-style: none;
  padding: 5px;
  margin: 0 0 0 15px;
}
