
.navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-nav > li > a {padding-top: 0px; padding-bottom: 0px; line-height: 40px; height: 40px;}
.navbar {min-height:40px; height:40px;}


#sWtitle {
  font-family:Courier;
  font-size:13pt;
}
pre {
  font-size:12px;
}
.form-group {
  margin-bottom: 5px;
}
.shiny-input-container:not {
  width:150px;
  margin:0px;
}
div.tool {
  display:inline;
}

div.tool .tip {
    z-index:10;
    display:none; 
    padding:2px 3px;
    margin-top:8px; 
    margin-left:5px;
    font-size:12px;
    max-width:300px;
}
#statstip {
  margin-top:60px;
}
div.tool:hover .tip{
  display:inline; 
  position:absolute; 
  color:#333333;
  border:1px solid #CCCCCC; 
  border-radius:3px;
  background:#FFFFFF;
  box-shadow: 3px 2px 5px 0px #CCCCCC;
  }
/*div.tool span.tip::before{
  z-index:20;
  content: "";
  width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
  left: 5%;
	top: -19px;
	border-bottom: 10px solid #CCCCCC;
} */
div.tool .callout {
  display:none;
}
div.tool:hover .callout {
  display:inline;
  z-index: 20;
  position: absolute;
  left: 5%;
  top: -13px;
}

div.busy { 
  position:fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  z-index: 50;
}

#swciteButton,
#sciteButton {
  padding: 5px;
  border-radius: 0px;
  border:1px solid #CECED8;
  background: rgb(230, 230, 230);
  cursor: pointer;
}
#swciteButton:hover,
#sciteButton:hover {
  background-color:#CECED8;
}

#swcitation,
#scitation {
  display:none;
  position:absolute;
}

#dataleft, #fitleft,
#plotleft, #mcmcleft,
#gofleft, #simleft {
  position: absolute;
  top: 50px;
  right: 65px;
  color: #A5A5AD;
  cursor: pointer; 
}
#dataright, #fitright,
#plotright, #mcmcright,
#gofright, #simright {
  position: absolute;
  top: 50px;
  right: 38px;
  color: #A5A5AD;
  cursor: pointer; 
}

#dataleft:hover, #fitleft:hover,
#plotleft:hover, #mcmcleft:hover,
#gofleft:hover, #simleft:hover,
#dataright:hover, #fitright:hover,
#plotright:hover, #mcmcright:hover,
#gofright:hover, #simright:hover,
.helper-btn:hover {
  color: #737379;
}

.helper-btn {
    position:fixed;
    top: 50px;
    right: 10px;
    color: #A5A5AD;
    cursor: pointer;
}

div.helper-box { 
  position:fixed;
  top: 90px;
  right: 20px;
  max-width: 150px;
  max-height: 300px;
  display:none;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border:1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

.helper {
  cursor:pointer;
}

div.smallhelperbox {
  position:absolute;
  z-index: 10;
  display: none;
  width: 200px;
  height: 100px;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

div.mischelperbox {
  position: absolute;
  z-index: 10;
  display: none;
  max-width: 400px;
  max-height: 300px;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

div.warning {
    position: absolute;
    display: block;
    background: #fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border: 1px solid #f2c779;
    font-size: 0.82em;
    z-index: 10;
}
p.warning {
  position: absolute;
  right: 3px;
  z-index: 12;
  color: #A5A5AD;
}
p.warning:hover {
  color: #737379;
  cursor: pointer;
}

#linkbox1,
#linkbox2,
#linkbox3,
#linkbox4,
#mixmxbox, 
#graphlevelbox,
#nodelevelbox {
  display: none;
}

#linktitle1,
#linktitle2,
#linktitle3,
#linktitle4,
#mixmxtitle, 
#graphleveltitle,
#nodeleveltitle {
  cursor: pointer;
}

.stitle {
  font-size:12px; 
  line-height:26px; 
  margin-top:10px;
}
.snum {
  font-family:Courier;
  font-size:12px;
  line-height:27px; 
  margin-top:10px;
}

#fitButton {
  border-style:groove;
}
#savemodel {
  display:inline;
}

#simButton,
#matchingButton,
#allButton {
  margin-bottom:10px;
}

div .mcmcopt {
  display:inline;
  padding: 2px;
  margin-bottom: 5px;
}
div.form-group.shiny-input-container {
  width=150px;
}
#chooseterm {
  display:inline;
}
#listofterms{
  display:inline;
  width:150px;
}
#matchingorall {
  margin-bottom:2px;
  margin-left:2px;
}
div.placeholder {
  height:150px;
  position:relative;
}
#termdoc {
  background:#FFFFFF;
  border:none;
}
#termdocbox {
  position:absolute;
  right:0px;
  left:5px;
  margin-right:10px;
  max-height:95px;
  border: 1px solid #CECED8;
  border-radius: 5px;
  overflow:scroll;
  z-index:9;
}
#termexpand {
  position:absolute;
  right:20px;
  width:30px;
  height:20px;
  color: #A5A5AD;
  z-index:10;
}
#termexpand:hover {
  color: #737379;
}

#uichoosemodel_mcmc,
#uichoosemodel_gof,
#uichoosemodel_sim {
  display:inline;
  padding:4px 6px;
  margin-bottom:5px;
}
.shiftright {
  margin-left:15px;
}
.nwlabel {
  margin:0px 0px 10px;
}

#simsummary,
#simstatslabel,
#simsummary2 {
  border-style: none;
  padding: 0px;
  margin: 0px;
}
#infsummary {
  border-style: none;
  padding: 0 0 8 0px;
  margin: 0px;
}
#simcoef,
#simstats,
#simstats2 {
  border-style: none;
  padding: 5px;
  margin: 0 0 0 15px;
}
