div.busy { 
  position:fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  z-index: 1;
}

/*.alert-box {
    color:#555;
    border-radius:10px;
    font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}*/

.helper-btn {
    background-color:#FFFFFF;
    border:1px solid #CECED8;
    border-radius: 5px;
}

div.helper-box { 
  position:fixed;
  top: 100px;
  right: 20px;
  max-width: 140px;
  max-height: 250px;
  display:none;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border:1px solid #CECED8;
  border-radius: 5px;
  z-index: 1;
}