div.busy { 
  position:fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  z-index: 1;
}


.helper-btn {
    position:fixed;
    top: 60px;
    right: 20px;
    color: #808080;
}


div.helper-box { 
  position:fixed;
  top: 90px;
  right: 20px;
  max-width: 150px;
  max-height: 300px;
  display:none;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border:1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

.helper {
  cursor:pointer;
}

div#filetypebox1,
div#filetypebox2,
div#cughelperbox_dd,
div#brghelperbox_dd,
div#cughelperbox_gd,
div#brghelperbox_gd {
  position:absolute;
  z-index: 10;
  display:none;
  max-width: 400px;
  max-height: 300px;
  background: #FFFFFF;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  border:1px solid #CECED8;
  border-radius: 5px;
  z-index: 10;
}

#mixmxbox, #graphlevelbox,
#nodelevelbox {
  display:none;
}


#mixmxtitle, #graphleveltitle,
#nodeleveltitle {
  cursor:pointer;
}

.stitle {
  font-size:12px; 
  line-height:26px; 
  margin-top:10px;
}
.snum {
  font-family:Courier;
  font-size:12px;
  line-height:27px; 
  margin-top:10px;
}

div.docpopup {
  position:absolute;
  z-index: 8;
  display:none;
  max-width: 700px;
  max-height: 600px;
  padding: 5px;
  border:1px solid #CECED8;
  border-radius: 5px;
  background: #FFFFFF;
}

div#sourceFields {
display: none;
}
div#fieldChooser {
width: 200px;
}
.fc-field {
margin: 0 0 0 0;
padding: 5px;
font-size: 1.2em;
width: 120px;
outline: #777777 ridge thin;
background-color: #cccccc;
}
.fc-selected {
background-color: #999999;
}
.fc-field-list {
margin: 0;
padding: 3px 3px 3px 3px;
margin-right: 10px;
outline: #333333 solid thin;
height: 600px;
width: 100px;
overflow: scroll;
}
.fc-source-fields {
float: left;
}
.fc-destination-fields {
float: right;
}
.left, .right {
  width: 150px;
}

